{% extends "layout.html" %}

{% block content %}
  <main class="about-section">
    <div class="container">

    <h2>About SEHR</h2>
    <p>SEHR is short for System of Electrical Hand-gesture Recognition, it is a graduation project for Bachelor Degree thesis in Electronics and Communications Section, Electrical Engineering department, Alexandria University, Egypt. The project makes a new communications systems based on hand gestures, which can be used in both human to human communications or for human-computer interaction (HCI).
    The system consists of both hardware and software parts.
    Hardware parts consists of a circuit that can read electrical signals from muscles generated due to muscles movement and then send these signals to an online server for processing, where the software part is used.
    Software part is a machine learning algorithm which helps determining what was the gesture that generated these signals.</p>

    </div>
  </main>
{% endblock %}
